@use "../../styles/partials/typography";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.card {
    border: solid .0625rem $forest-green;
    border-radius: .5rem;
    background-color: #e4efec;
    margin: 0 1rem 1rem; 

    @include tablet {
        margin: 0 1.5rem 1.5rem;
    }

    @include desktop {
        margin: 0 5rem 5rem;
    }

    &__img {
        width: 100%;
        height: auto;
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem; 
    }

    &__container {
        background-color: #e4efec;
        border-bottom-left-radius: .5rem;
        border-bottom-right-radius: .5rem;
        position: relative;
    }

    &__tags {
        font-family: "Outfit-Medium";
        border-radius: .375rem;
        padding: .375rem .5rem;
        border: solid .0625rem #b7cec9;
        margin: .25rem;
        margin-top: .5rem;
        margin-bottom: .5rem;
        background-color: white;
    }

    &__info {
        background-color: $sage;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 1rem;
        font-family: "Outfit-Medium";
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;

        &--wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: $sage;
        }

        &--img {
            background-color: $sage;
        }

        &--like{
           padding-right: .5rem; 
           background-color: $sage;
        }

        &--date {
            background-color: $sage;
        }

        &--photographer {
            background-color: $sage;
        }
    }
}