@use "../../styles/partials/typography";
@use "../../styles/partials/variables.scss" as *;


.filter {
    font-family: "Outfit-Medium";
    border-radius: 2rem;
    color: #1e6655;
    border: 2px solid #1e6655;
    background-color: $pistachio;
    padding: 8px 16px;

    &__img {
        height: 16px;
        width: 1rem;
        margin-left: 8px;
    }
}

.filter:hover {
    background-color: $forest-green;
    color: $white;

}