@use "../../styles/partials/typography";
@use "../../styles/partials/variables.scss" as *;


.filter {
    font-family: "Outfit-Medium";
    border-radius: 2rem;
    color: #1e6655;
    border: .125rem solid #1e6655;
    background-color: $pistachio;
    padding: .5rem 1rem;

    &__img {
        height: 1rem;
        width: 1rem;
        margin-left: .5rem;
    }
}

.filter:hover {
    background-color: $forest-green;
    color: $white;

}