@font-face {
    font-family: "NewsReader";
    src: url(../../assets/fonts/Newsreader-Light.woff) format("woff");
    font-weight: 300;
    font-style: lighter;
}

@font-face {
    font-family: "NewsReader";
    src: url(../../assets/fonts/Newsreader-LightItalic.woff) format("woff");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "NewsReader";
    src: url(../../assets/fonts/Newsreader-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Outfit";
    src: url(../../assets/fonts/Outfit-Light.woff) format("woff");
    font-weight: 300;
    font-style: lighter;
}

@font-face {
    font-family: "Outfit-Medium";
    src: url(../../assets/fonts/Outfit-Medium.woff) format("woff");
    font-weight: 500;
    font-style: normal;
}
