@use "../../styles/partials/typography";
@use "../../styles/partials/variables" as *;

.filters {
    background-color: #e4efec;

    &__title {
        font-family: "Outfit-Medium";
        margin: 0;
        padding: 1.5rem 0rem;
        background-color: #e4efec;
    }

    &__button {
        font-family: "Outfit-Medium";
        padding: .375rem .5rem;
        border-radius: .375rem;
        border: .0625rem solid #49675a;
        color: #49675a;
        margin: .25rem;

        &--selected {
            background-color: #49675a;
            color: white;
        }
    }

    &__button:hover {
        background-color: $forest-green;
        color: $white;
    }

    &__button:active {
        color: $white;
        background-color: $forest-green;
        border: 1px solid $black;
    }
}