@use "../../styles/partials/typography";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.form {
    display: flex;
    flex-direction: column;
    padding: 16px;

    @include tablet{
        padding: 1.5rem;
    }

    @include desktop {
        padding: 0 5rem 2.5rem;
    }

    label {
        font-family: "Outfit-Medium";
        
        @include tablet {
            font-size: 1.25rem;
            line-height: 26px;
        }
    }       

    input {
       width: 100%;
       border-radius: .5rem;
       border: solid .125rem $sea-green;
       background-color: $white;
    }

    &__name {
        line-height: 2em;
    }

    &__comment{
        line-height: 4em;
    } 

    button {
        margin-top: .625rem;
        width: 5rem;
        background-color: $forest-green;
        font-family: "Outfit-Medium";
        color: $white;
        font-size: .75rem;
        line-height: .9375rem;
        padding: .25rem 0.5rem;
        align-self: flex-end;

        @include tablet {
            font-size: 1.25rem;
            line-height: 1.625rem;
        }

    }
}