@use "../../styles/partials/typography";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
    display: flex;
    padding: 2rem 1rem 1.5rem;
    align-items: center;
    justify-content: space-between;

    @include tablet {
        padding: 1.5rem 1.5rem 2.5rem;
    }

    &__title{
        font-family: "NewsReader";
        color: $black;
        font-size: 2rem;

        @include tablet {
            font-size: 2.5rem;
            line-height: 2.5rem;
        }
    }

    &__home{
        font-family: "Outfit-Medium";
        color: $forest-green;
        font-size: 1.125rem;

        @include tablet {
            font-size: 1.5rem;
            line-height: 1.875rem;
        }
    }
}