@use "../../styles/partials/typography";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;


.footer {
    font-family: "Outfit-Medium";
    padding: 1rem;

    @include tablet{
        padding: 1.5rem;
    }

    &__title {
        font-family: "NewsReader";
        font-size: 2rem;
        line-height: 2rem;

        @include tablet {
            font-size: 2.5rem;
            line-height: 2.5rem;
        }
    }

    &__parent {
        @include tablet {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            font-size: 1.25rem;
        }
    }

    &__section {
        display: flex;
        flex-direction: column;
        align-items: normal;
        padding: 8px 0;
        

        &--link {
            color: #0c1e1a;
        }
    }

    &__socials {
        display: flex;
        flex-direction: row;
        align-items: normal;

        &--link {
            padding: 0 8px;
        }
    }

    &__info {
        display: flex;
        flex-direction: row;
        align-items: normal;

        &--links{
            color: #B7CEC9;
            padding: 0 8px;
        }
    }

}