@use "../../styles/partials/typography";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;


.mission {
    padding: 0 1rem 0;

    @include tablet {
        padding: 0 1.5rem 0;
    }
    
    &__title {
        font-family: "Outfit-Light";
        font-size: 1.125rem;
        line-height: 1.4375rem;

        @include tablet {
            font-size: 1.5rem;
            line-height: 1.875rem;
        }
    }

    &__text {
        line-height: 2.375rem;
        font-size: 1.625rem;
        font-family: "NewsReader-Light";

        @include tablet {
            font-size: 3.25rem;
            line-height: 4.125rem;
        }

        &--ital {
            font-family: "NewsReader-Italic";
        }
    }
}