@use "../../styles/partials/typography";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.photos {
    padding: 1rem;
    
    @include tablet {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 1.5rem;
    }

    &__card {
        border: solid .0625rem $forest-green;
        border-radius: .5rem;
        background-color: #e4efec;
        margin-top: 1rem;

        @include tablet {
            width: 40%;
        }

        @include desktop {
            width: 30%;
        }

        &--img {
            width: 100%;
            height: auto;
            border-top-left-radius: .5rem;
            border-top-right-radius: .5rem;
        }

        &--photographer {
            position: absolute;
            background-color: #e4efec;
            font-family: "Outfit-Medium";
            right: 0;
            top: -2rem;
            border-top-left-radius: .5rem;
        }

        &--container {
            background-color: #e4efec;
            border-bottom-left-radius: .5rem;
            border-bottom-right-radius: .5rem;
            position: relative;
        }


        &--tags {
            font-family: "Outfit-Medium";
            border-radius: .375rem;
            padding: .375rem .5rem;
            border: solid .0625rem #b7cec9;
            margin: .25rem;
            margin-top: .5rem;
            margin-bottom: .5rem;
            background-color: white;
        }
    }

}