@use "./styles/partials/global";
@use "./styles/partials/typography";
@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;

* {
    box-sizing: border-box;
    background-color: $pistachio;
}

body {
    display: flex;
    justify-content: left;
    align-items: normal;
    padding-left: 1rem;
    padding-top: 1.5rem;
}

.App {
    font-family: "NewsReader";

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    &__title{
        margin: 0;
        font-size: 32px;
        line-height: 32px;

        @include tablet {
            font-size: 40px;
            line-height: 40px;
        }
    }
}

