@use "./styles/partials/global";
@use "./styles/partials/typography";
@use "./styles/partials/variables" as *;

* {
    box-sizing: border-box;
    background-color: #EFFAF7;
}

body {
    display: flex;
    justify-content: left;
    align-items: normal;
    padding-left: 1rem;
    padding-top: 1.5rem;
}

.App {
    font-family: "NewsReader";
    
    &__title{
        margin: 0;
    }
}

