@use "../../styles/partials/typography";
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;


.home {
    font-family: "NewsReader";


    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 2rem 1rem 1.5rem;

        @include tablet {
            padding: 2.5rem 1.5rem 2rem;
        }

    }
    
    &__title{
        margin: 0;
        font-size: 2rem;
        line-height: 2rem;
        text-decoration: none;
        color: $black;

        @include tablet {
            font-size: 2.5rem;
            line-height: 2.5rem;
        }
    }
}